In [ ]:
#task1  (lesson9)
#oracle: https://www.hackerrank.com/challenges/the-report/problem
request = """
SELECT 
    CASE
        WHEN Grades.Grade > 7
        THEN Students.Name
        WHEN Grades.Grade <= 7
        THEN NULL
    END, 
    Grades.Grade, Students.Marks
    FROM Students
    INNER JOIN Grades 
    ON Students.Marks 
    BETWEEN Grades.Min_Mark AND Max_Mark 
    ORDER BY Grades.Grade DESC, Students.Name ASC, Students.Marks ASC;
"""

In [ ]:
#task2  (lesson9)
#oracle: https://www.hackerrank.com/challenges/occupations/problem
request = """
select Doctor.name as Doctor, Professor.name as Professor, Singer.name as Singer, Actor.name as Actor
from (select (row_number() over (order by name)) as id from OCCUPATIONS) ids
full join (
    select row_number() over (partition by occupation order by name) as id, name 
    from OCCUPATIONS
    where Occupation = 'Doctor') Doctor
on ids.id = Doctor.id
full join (
    select row_number() over (partition by occupation order by name) as id, name 
    from OCCUPATIONS
    where Occupation = 'Professor' 
) Professor
on ids.id = Professor.id
full join (
    select row_number() over (partition by occupation order by name) as id, name 
    from OCCUPATIONS
    where Occupation = 'Singer' 
) Singer
on  ids.id = Singer.id
full join (
    select row_number() over (partition by occupation order by name) as id, name 
    from OCCUPATIONS
    where Occupation = 'Actor' 
) Actor
on  ids.id = Actor.id
where 
Doctor.name is not Null or 
Professor.name is not Null or 
Singer.name is not Null or 
Actor.name is not Null;
""" 
#var2
request = """
select 
"'Doctor'_NAME" as Doctor, 
"'Professor'_NAME" as Professor,
"'Singer'_NAME" as Singer,
"'Actor'_NAME" as Actor from
(
    SELECT ROW_NUMBER() OVER (PARTITION BY OCCUPATION ORDER BY NAME) as RowNumber, 
    name, occupation FROM OCCUPATIONS
) tempTable
PIVOT
(
    MAX(NAME) as name
    FOR occupation IN ('Doctor', 'Professor', 'Singer', 'Actor')
) pivotTable
order by RowNumber;
"""

In [ ]:
#task3  (lesson9)
#oracle: https://www.hackerrank.com/challenges/weather-observation-station-9/problem
request = """
select distinct city
from station 
WHERE not REGEXP_LIKE(City, '^[AEIOU].*');
"""

In [ ]:
#task4  (lesson9)
#oracle: https://www.hackerrank.com/challenges/weather-observation-station-10/problem
request = """
select distinct city
from station 
WHERE not REGEXP_LIKE(City, '.*[aeiou]$');
"""

In [ ]:
#task5  (lesson9)
#oracle: https://www.hackerrank.com/challenges/weather-observation-station-11/problem
request = """
SELECT DISTINCT CITY 
FROM STATION 
WHERE not REGEXP_LIKE (City,'^[AEIOU].*' || '.*[aeiou]$');
"""

In [ ]:
#task6  (lesson9)
#oracle: https://www.hackerrank.com/challenges/weather-observation-station-12/problem
request = """
SELECT DISTINCT CITY 
FROM STATION 
WHERE not REGEXP_LIKE(City, '^[AEIOU].*') and not REGEXP_LIKE(City, '.*[aeiou]$');
--variant2
SELECT DISTINCT CITY 
FROM STATION 
WHERE REGEXP_LIKE(City, '^[^AEIOU].*[^aeiou]$');
"""

In [ ]:
#task7  (lesson9)
#oracle: https://www.hackerrank.com/challenges/salary-of-employees/problem
request = """
select name
from Employee 
where salary > '2000'
and months < '10'
order by employee_id;
"""

In [ ]:
#task8  (lesson9)
#oracle: https://www.hackerrank.com/challenges/the-report/problem
request = """
SELECT 
    CASE
        WHEN Grades.Grade >= 8
        THEN Students.Name
        WHEN Grades.Grade < 8
        THEN NULL
    END, 
    Grades.Grade, Students.Marks
    FROM Students
    INNER JOIN Grades 
    ON Students.Marks 
    BETWEEN Grades.Min_Mark AND Max_Mark 
    ORDER BY Grades.Grade DESC, Students.Name ASC, Students.Marks ASC;
"""